// Dimensions
@hourRowHeight: 60px;
@15mRowHeight: @hourRowHeight / 4;
@30mRowHeight: @hourRowHeight / 2;

@meetingRowHeight: @15mRowHeight;

//Colors
@borderMain: 1px solid #999;
@borderCells: 1px solid #ddd;

@headerSelectedBg: #808080;
@headerInner: #666;
@headerInnerBg: #eee;

@cellBg: #f9f9f9;